<div class="list-group">
  {% if cats %}
    {% for cat in cats %}
      {% if act_cat == cat %}
        <a class="list-group-item list-group-item-action active" href="#">{{ cat.name }}</a> {# href="{% url 'rango:show_category' cat.slug %}" #}
      {% else %}
        <a class="list-group-item list-group-item-action" href="{% url 'rango:show_category' cat.slug %}">{{ cat.name }}</a>
      {% endif %}
    {% endfor %}
  {% else %}
    <li><strong>There are no categories at present.</strong></li>
  {% endif %}
</div>
